@import "palette";

body {
	background-color: $white;
	margin: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: $darkSlate;
}

.menu {
	background-color: $teal;
	color: $white;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 30px;
	/*margin-right: 0px;*/
	/*padding-right: 0px;*/
	/*width: 100%;*/
	/*display: inline-block;*/
}

.work-in-progress {
	background-color: $fadedRed;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
/*	color: $white;
*/}

.nav-bar {
	display: table;
	table-layout: fixed;
	height: 50px;
	width: 100%;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

.nav-bar li {
	display: table-cell;
	min-height: 50px;
	width: 15%;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	font-weight: 500;
}

@media (max-width: 700px) {
	.nav-bar li {
		display: block;
		width: 100%;
	}
}

.section {
	/*background-color: $teal;*/
	border: 5px $teal solid;
	border-radius: 5px;
	color: $darkSlate;
	margin: 20px;
	padding: 20px;
}

.about-me {
	overflow: hidden;
}

.about-me h2 {
	width: 650px;
	margin-right: 5px;
	padding-right: 0px;
	display: inline-block;
}

.about-me img {
	float: right;
	margin: 5px;
	height: 200px;
	border-radius: 25px;
}

.text {
	float: left;
	width: 75%;
	margin: 10px;
	/*padding: 10px;*/
	/*padding-top: 5%;*/
	/*padding-bottom: 5%;*/
	/*margin-top: auto;*/
	/*margin-bottom: auto;*/
}

.about-me p {
	text-align: center;
	
}

.connect {
	display: table;
	table-layout: fixed;
}

.social-networks {
	display: table-cell;
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

.social-networks-img {
	height: 100px;
	width: 100px;
	background-color: $white;
	border-radius: 10px;
	margin: 10px;
}



