/* Coolors Exported Palette - coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */

$white: #ffffff; //rgba(255, 255, 255, 100)
$darkSlate: #00171f; //rgba(0, 23, 31, 100)
$navy: #003459; //rgba(0, 52, 89, 100)
$teal: #007ea7; //rgba(0, 126, 167, 100)
$lightBlue: #00a8e8; //rgba(0, 168, 232, 100)