body {
	background-color: #FFFFF9;
}

a {
	text-align: center;
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #94DBFF;
}

.menu {
	background-color: gray;
	color: #FFFFF9;
	position: relative;
	left: -1em;
	width: 103%;
	font-size: 20px;
	text-align: center;
	/*height: 3em;	*/
}

.menu ul li {
		display: inline;
		padding: 2.5em;
}

.about-me {
	background-color: gray;
	color: #FFFFF9;
	margin-right: auto;
	margin-left: auto;
	padding: 2em;
	width: 80%;
	height: auto;
}

.about-me img {
	float: left;
	margin-right: 2em;
	/*width: 200px;*/
}

.about-me p {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 3%;
	margin-top: auto;
	margin-bottom: auto;
	/*float: right;*/
	/*width: 800px;*/
}

